<section class="row">
    <div class="small-12 columns">
        <h1 data-bind="text : heading"></h1>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: products -->
                <tr>
                    <td data-bind="text: $data.Name"></td>
                    <td class="float-right"><a data-bind="attr: { href: '#admin/products/' + $data.Id + '/edit' }">Edit</a></td>
                </tr>
                <!-- /ko -->

            </tbody>
        </table>

        <a class="button" data-bind="attr: { href: '#admin/products/add' }">Create new product</a>
    </div>
</section>