
<div class="row column text-center">
    <br />
    <h2>Our Newest Products</h2>
    <hr>
</div>
<div class="row small-up-2 large-up-4" data-bind="foreach: products">
    <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5 data-bind="text: $data.Name"></h5>
        <p data-bind="text: $data.Price + ',-'"></p>
        <a data-bind="attr: {href: '#/products/'+$data.Id}" class="button expanded">Buy</a>
    </div>
</div>
<hr>

<!--<article class="row">
    <div class="columns medium-5">
        <div class="list-group" data-bind="foreach: todos">
            <a class="list-group-item"
               data-bind="text: title, click: $root.selectedTodo, css: { active: $root.selectedTodo() == $data }"></a>
        </div>
    </div>
    <div class="columns medium-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" data-bind="text: title"></h3>
            </div>
            <div class="panel-body">
                <p data-bind="html: content"></p>
                <p>
                    <button class="btn btn-primary" data-bind="click: $root.onTodoClick">View more</button>
                </p>
            </div>
            <div class="callout">
                <h3 class="panel-title">No Todo Selected</h3>
                <p class="panel-body">Select a todo in the list to show details</p>
            </div>
        </div>
    </div>

    <div class="small-12 columns">
        <button class="button primary" data-bind="click: onButtonClick">
            Hello
        </button>
    </div>
</article>-->
