

<section id="page-login">

    <div class="row">
        <form class="large-4 large-offset-4 medium-6 medium-offset-3 columns end">
            <div class="row">
                <div class="small-12 columns">
                    <h1>Login</h1>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <fieldset>
                        <label for="Email">
                            Username / Email
                            <input type="text" placeholder="Email / Username" name="Email" id="Email">
                        </label>
                        <label for="Password">
                            Password
                            <input type="password" placeholder="Password" name="Password" id="Password">
                        </label>
                    </fieldset>
                </div>
                <div class="small-12 columns">
                    <button class="button primary" data-bind="click: login">Login</button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="row">
        <div class="small-12 large-4 large-offset-4 medium-6 medium-offset-3 columns end">
            <hr />
            <a href="#register">Register new user</a>
            <br />
            <a href="#forgottenPassword">Forgotten password</a>
        </div>
    </div>
</section>