<header role="navigation" class="container">
    <div class="top-bar">
        <div class="row">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text">Durandal Webshop</li>

                    <!-- ko foreach: router.navigationModel -->
                    <li><a data-bind="attr: { href: hash }, text: title"></a></li>
                    <!-- /ko -->
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><input type="search" placeholder="Search"></li>
                    <li><button type="button" class="button" data-bind="click: search">Search</button></li>
                </ul>
            </div>
        </div>
    </div>
</header>


<div class="router-loader" data-bind="visible: router.isNavigating">
    <i class="fa fa-spinner fa-2x fa-spin active"></i>
</div>

<section id="main" class="container" data-bind="router: { transition:'entrance', cacheViews:true }"></section>

<footer class="container">
    <div class="row">
        <div class="small-12 columns">
        </div>
    </div>
</footer>
