<header role="navigation" class="container">
    <div class="top-bar">
        <div class="row">
            <div class="small-12 columns">
                <div class="top-bar-left">

                    <ul class="menu">
                        <!-- ko foreach: router.navigationModel -->
                        <li data-bind="if : !$data.navHide"><a data-bind="attr: { href: hash }, text: title"></a></li>
                        <!-- /ko -->
                    </ul>

                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li class="menu-text" data-bind="if: loggedIn()">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            <!-- ko text: 'Products in basket: '+ basket().Products.length -->
                            <!-- /ko -->
                        </li>
                        <li><a href="#Login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="router-loader" data-bind="visible: router.isNavigating">
    <i class="fa fa-spinner fa-2x fa-spin active"></i>
</div>

<section id="main" class="container" data-bind="router: { transition:'entrance', cacheViews:true }"></section>

<footer class="container">
    <div class="row">
        <div class="small-12 columns">
        </div>
    </div>
</footer>
